@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

main {
  padding: 50px;
  background-color: lightgrey;
}
main h1 {
  margin-bottom: 25px;
}
main .container {
  display: flex;
  flex-wrap: wrap;
}
main .container .post {
  margin: 10px;
  padding: 25px;
  width: calc(100% / 4 - 20px);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  transition: 0.4s;
}
main .container .post:hover {
  cursor: pointer;
  transform: scale(1.025);
  background-color: rgba(0, 0, 0, 0.2);
}
main .container .post p {
  margin-bottom: 5px;
  font-size: 16px;
}

header {
  padding: 25px;
  color: white;
  background-color: black;
}

footer {
  padding: 25px;
  color: white;
  background-color: black;
}
