@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.buttons {
  margin-top: 25px;
  display: flex;
}

.alert-success {
  padding: 20px;
  border: 2px solid green;
  background-color: lightgreen;
  border-radius: 15px;
}

.button {
  margin-top: 10px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  transition: 0.2s;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: black;
  padding: 15px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  transition: 0.2s;
}
a:hover {
  cursor: pointer;
  transform: scale(1.05);
}
a:focus {
  outline: none;
}

main {
  padding: 50px;
  background-color: lightgrey;
}
main h1 {
  margin-bottom: 25px;
}
main h3:last-of-type {
  margin-top: 25px;
}
main .container {
  display: flex;
  flex-wrap: wrap;
}
main .container .post {
  margin: 10px;
  padding: 25px;
  width: calc(100% / 4 - 20px);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  transition: 0.4s;
}
main .container .post:hover {
  cursor: pointer;
  transform: scale(1.025);
  background-color: rgba(0, 0, 0, 0.2);
}
main .container .post p {
  margin-bottom: 5px;
  font-size: 16px;
}
main .form label {
  margin-top: 10px;
  margin-bottom: 10px;
}
main .form input {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
}
main .form input:focus {
  outline: none;
}

header {
  padding: 25px;
  color: white;
  background-color: black;
}

footer {
  padding: 25px;
  color: white;
  background-color: black;
}
